body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  min-height:100%;
  color:#404950;
}
table,th,td{
  color:#404950;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ui.menu .item img.logo {
  margin-right: 1.5em;
}
.logo{
  max-width: 15%;
  min-width: 150px;
}
.wprawo{
  float: right;
  
}
.main.container {
    margin-top: 5em;
}

ul.ui.list li:before {
  display: none;
  content: '';
}


.form-container{
  padding:10px;
  padding-bottom:25px;
  margin:0 auto;
  margin-top:20px;
  width:50%;
  border-radius:20px;
  background-color: #ececec;
}

.add-one{
  color:green;
  text-align:center;
  font-weight: bolder;
  cursor:pointer;
  margin-top:10px;
  
  
}



#singlebutton{
  width:100%;
  margin-top:20px;
}

.title{
  text-align:center;
  font-size:40px;
  margin-bottom:40px;
}

.dynamic-element{
  margin-bottom:0px;
}
.unresponsive thead tr th  {
  min-width: 40px;
  max-width: 15%;
  
}
.justid{
	min-width:15px !important;
}
.justdata{
	min-width:100px !important;
}

tr{
	text-align:center;
}
input[readonly] {
   background-color: #F0F0F1 !important;
}
textarea[readonly] {
   background-color: #F0F0F1 !important;
}

hr.style11 {
	height: 6px;
	
    border: 0;
}

tr.sztywno{
	background-color: #fcf3d2 !important;
}
.btn-top{
	width: 100%;
}
.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(107, 107, 107, 0.7);  
}  
.popup_inner {  
  position: absolute;  
  left: 5%;  
  right: 5%;  
  top: 10%;  
  bottom: 10%;  
  margin: auto;  
   
  background:rgba(243, 171, 1,0.5);
  overflow: auto;
  ;

}
.tg  {margin:0px auto; border-top-color:transparent;border-left-color: transparent;max-width: 95%}


.table2{
  background: white;
  color:#f3ab01;
  
  border-bottom: 30px rgba(243, 171, 1,0.99) solid;
  border-right: 2px #f3ab01 solid;
}

.tg td{font-family:Arial, sans-serif;border-left-color: transparent;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#f3ab01;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;border-left-color: transparent;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#f3ab01;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top;border-top-color:transparent;max-width:25%;border-left-color: transparent;min-width: 100px;}
.tg .tg-0lax{text-align:left;vertical-align:top;max-width:25%;border-top-color:transparent;border-right-color: transparent;border-left-color: transparent}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;margin: auto 0px;}}
.zamknij{
 
  background-color: white;
  color:#f3ab01;
  border-radius: 50%;
  margin-left: 5px;
  width: 5%;
  max-width: 40px;
  max-height: 40px;
  height: 4%;
  border: none;
  text-align: center;
  padding-top: -15px;
  
 
}
.red{
  color:red;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bolder;
  font-size: 130%;
  text-decoration: none;
}
.centruj2{
  
  
  text-align: center;
  
  
}

.centruj{
  
  
  text-align: center;
  background-color:#f3ab01;
  color: white;
  
}
.pokoloruj{
  background-color: aquamarine;
}
/* Tooltip container */
.dohovera {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.dohovera .hoveruje {
  visibility: hidden;
  width: auto;
  
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  right:20%;
  z-index: 1;
}

.dohovera:hover .hoveruje {
  visibility: visible;

}
.fileupdate {
	
	background-color:#f3ab01;
	min-height: 50px;
	border:3px solid #f3ab01;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size:23px;
	padding:10px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #a83703;
}
.fileupdate:focus,
.fileupdate:hover {
	
  background-color:#e7a201;
  border:3px solid #e7a201;
}
.fileupdate:active {
	position:relative;
	top:1px;
}
.full{
  width:100%;
}
.container-form{
  background-color: white;
  
  margin-top:50px;
  margin-bottom:50px;
  padding:50px;
  border:10px #f3ab01 solid;
}
.form-control{
  background-color: white;
  border-color: #f3ab01;
  border-radius:0;
}
.delete{
  color:white;
  background-color:red;
  text-align:center;
  margin-top:3px;
  font-weight:700;
  border:0px red solid;
  min-width:20px;
  cursor:pointer;
}
.delete:hover{
  background-color: rgb(170, 0, 0);
  color:blanchedalmond;
}
.notka{
  width:auto;
  font-weight: bold;
  font-size: 90%;
  border-color:rgba(93, 79, 9, 0.3);
  border-top-style:groove ;
  border-bottom-style:groove ;
  border-radius:10px;
  
  
  
}
.przycisk{
  text-decoration:none;
  border-color: #f3ab01;
  border-style: solid;
  padding:  5px;
  color:#404950;
  background-color: white;
  
}
.przycisk:hover{
  
  background-color: white;
  border-color:#404950;
  color:#404950;
  
}
.h5-form{
  margin-top:-10px;
  color:#5d4f09;
  
}
.h1-form{
  margin-top:20px;
  color:#5d4f09;
}
img {  
  position: relative;
}

/* style this to fit your needs */
/* and remove [alt] to apply to all images*/
img[alt]:after {  
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  color: #fff3cc;
  
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 1.5;  
  text-align: center;
  content: attr(alt);
}
.link{
  background-color: grey;
  color: #fff3cc;
  padding:5px;
  
}
.link:hover{
    background-color: grey;
    color: #fff3cc;
    text-decoration:none;
}
.relat{
  position:relative;
}
.srodek{
  display:block;
  position: absolute;
  margin:0;
  top:50%;
  left:50%;
  padding:30px;
  z-index: 1;
  
  -ms-transform:translate(-50%,-50%);
  transform: translate(-50%,-50%);
  
  min-height:50%;
  text-align: center;
  background-color: white;
  
  
  
  border:6px #f3ab01 solid;
}
.logout{
	background-color:white;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#404950;
	font-family:Arial, Helvetica, sans-serif;
  font-weight: bolder;
  width:100%;
	text-decoration:none;

}
.logout:hover{
  text-decoration: underline;
}

.padding-top{
  padding-top: 10px;
}
.powitanie{
  width: auto;
  padding-left:5px;
  padding-right:10px;
  left:0;
  background:linear-gradient(to bottom, #f0d239 5%, #cca635 100%);
	background-color:#f0d239;
	border-bottom-right-radius:12px;
	border:3px solid #5d4f09;
	display:inline-block;
	cursor:pointer;
	color:#5d4f09;
	font-family:Arial;
	
	
	text-decoration:none;
	text-shadow:0px 1px 0px #a83703;
}
.mojetable{
  
  background-color:white ;
  border:3px #f3ab01 solid;
  
  margin-bottom: 30px;
  width:100%;
  table-layout: auto;
  
}
td{
  border-bottom: 2px #f3ab01 solid;
  border-left: 1px #f3ab01 solid;
}
thead,th{
  border: 3px #f3ab01 solid;
  background-color: white;
}
.wraper{
  width: 100% !important;
}
.daty{
  text-align: center;
}
.notki{
  max-width:12%;
  min-width:12%;
  width:12%;
  background-color: white;

}
.footer{
  
  
  min-height: 100px;
  
  background-color: black;
  
}
.btn-info{
  background-color: white;
  border-radius: 0;
  border:2px #f3ab01 solid;
  color:#f3ab01;
  font-weight: bolder;
}
.btn-info:hover{
  background-color: white;
  border-radius: 0;
  border:2px #db9a01 solid;
  color:#db9a01;
  font-weight: bolder;
}

.btn-success{
  background-color: #f3ab01;
  border-radius: 0;
  border:2px #f3ab01 solid;
  color:white;
  font-weight: bolder;
}
.btn-success:hover{
  background-color: #db9a01;
  border-radius: 0;
  border:2px #db9a01 solid;
  color:white;
  font-weight: bolder;
}
.nakladka.active.focus{
  outline: none;
  box-shadow: none;
  
}
.btn-info:active{
  background-color: white !important;
  border-radius: 0;
  border:2px #f3ab01 solid !important;
  color:#f3ab01 !important;
  font-weight: bolder ;
}
.btn-success:active{
  background-color: #db9a01 !important;
  border-radius: 0;
  border:2px #db9a01 solid !important;
  color:white !important;
  font-weight: bolder;
}
.przycisk{
  background-color: #f3ab01;
  border:2px  #f3ab01 solid;
  color:white;
  padding-left: 10px;
  padding-right: 10px;
  float: inherit;
  text-align: center;
  font-weight: bolder;
}
.przycisk:hover{
  background-color: white;
  border:2px  #f3ab01 solid;
  color:#f3ab01;

}
.zakoncz{
  border:2px #c92b2c solid;
  background-color: #c92b2c;
  color:white;
  padding:8px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: auto;
  font-weight: bolder;
}
.zakoncz:hover{
  border:2px #c92b2c solid;
  background-color: white;
  color:#c92b2c;

}

hr.hrstyle{
  border: 3px solid #f3ab01;
}

.centrujh{
  padding-left: 150px;
}
option{
  appearance: none;
  background-color: #f3ab01;
  color:white;
}
option:checked,
option:hover{
  color:#f3ab01;
  background-color: white;
  box-shadow: 0 0 10px 100px #000 inset
}
select {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #f3ab01;
  line-height: 1.3;
  padding: .1em 1.0em .1em .4em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #f3ab01;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
 
}
select::-ms-expand {
  display: none;
}
select:hover {
  border-color: #f3ab01;
  background: #ddd;
}
select:focus {
  border-color: #f3ab01;
  box-shadow: 0 0 1px 3px rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #f3ab01; 
  outline: none;
}
select option {
  font-weight:normal;
}
textarea{
  border:5px #f3ab01 solid;
  min-height: 100px;
  background-color: white;
}